@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1210px){
    .block2 {
        .title{ margin-bottom: 43px;}
        .top-content {background-position: left 151px; margin-bottom: 25px;
            .txt-wrapper{padding-top: 416px;
                padding-left: 188px;}
            .content-title-block{ width: 100%; padding-left: 0; text-align: center;
                .smal{  margin: 0 auto; text-align: left;}
            }
            .button-wrap { margin-top: 34px; width: 100%; padding-right: 0;}
            .button{ display: block; margin: 0 auto;}
        }
    }
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){

    .block2{
        .mbox{padding: 0 10px;}
        .img768{ display: block;}
        .img1920{ display: none;}
    }
    .block4{


        .content{  margin-bottom: 31px;}

        .bott-blue{  font:500 22px/1.2 'Acrom'; padding: 50px 20px 45px;}
    }
}
@media screen and (max-width: 666px){
    .block2 {
        .title { margin-bottom: 19px; }
        .top-content { background-size: 260px; background-position: -20px 131px;margin-bottom: 29px;
            .txt-wrapper { padding-left: 0; padding-top: 282px; }
            .txt-wrap { width: auto; font: 100 14px/17px 'Roboto';
                .txt { padding: 36px 0px 25px 19px; }
            }
            .button-wrap { margin-top: 6px; }
        }
        .bot-content {
            .title-bot { font: 700 24px/1.2 'Acrom'; }
            .black-txt{font: 400 25px/1.2 'Acrom';}
        }
    }
    .block3{  background-image: url(../images/b3BG320.jpg); background-repeat: no-repeat; background-position: left top; min-height: 1px;
        .mbox{ padding: 0 6px;}
        .title{ padding-top: 65px; margin-bottom: 38px;}
        .subtext{padding: 35px 10px 22px; margin-bottom: 18px;}
        .content-wrap{ width: 100%; padding: 0 20px;}
        .item-txt{font:100 14px/17px 'Roboto';}
        .item{ margin-bottom: 13px;}
    }

}
@media screen and (max-width: 479px){
    .block2{

        .img768{ display: none;}
        .img320{ display: block;}
    }

    .block4{
        .title{ margin-bottom: 66px;}
        .block-wrap {    padding-top: 64px;  }
        .content{  margin-bottom: 0;}
        .item{ margin-bottom: 73px;
            .txt{font:100 14px/17px 'Roboto';}
        }
        .bott-blue{  font:500 18px/1.2 'Acrom'; padding: 44px 0px 42px;}
    }
}
@media screen and (max-width: 320px){

}