.block1{background: url('../images/block1-bg.jpg') no-repeat; background-size: 1920px 826px; background-position: center top; 
	.mbox{max-width: 1024px; width: 100%; 
		.part-with-face{ display: flex; justify-content: flex-end;
			.text-container{ width: 300px;
				
			}
			
		}
		
	}
}