@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	.footer_placeholder{height: 167px;
		
	}
	.block1 .mbox {
		.part-with-face{padding-right: 0;padding-bottom: 280px;}
		.part-with-timer{padding-bottom: 40px; 
		}
	}
	.block1 .lower-background-wrapper {width: 100%; min-height: 1046px; z-index: 2; position: absolute; bottom: 0px; background-position: center; background-size: 1920px 1046px;}

	.making-order{flex-direction: column; align-items: flex-end; padding-bottom: 70px;
		.order-heading{height: 55px;}
		.left-part{padding-bottom: 30px;}
		.right-part{border-left:none; border-top: 1px solid #4fc5c1;width: 360px; padding-top: 30px;
			.order{padding-left: 40px; padding-right: 30px; }
		}
		.green-slashes{display: none;}
		.yellow-slashes{left: 0;}
		.goods{left: 0; bottom: 0;}
	}
	.block6{padding-top: 70px;
		.lower-background-wrapper{background-position: center top; top: 0;
				
			}
		.mbox .part-with-timer{
			top:0;
			
		}
	}
	
}
@media screen and (max-width: 767px){
	
}
@media screen and (max-width: 706px){
	.block1 .lower-background-wrapper {width: 100%; min-height:1355px;; z-index: 2; position: absolute; bottom: 0px; background-position: center bottom; background-size: 1920px 1205px;
		
	}
	.block1 .mbox .part-with-timer .more-advantages{flex-direction: column; align-items: center;
		.advantage{margin-bottom: 30px;
			&:last-child{margin-bottom:0;}
		}
		
	}
	.making-order{padding: 30px 10px 30px}
}
@media screen and (max-width: 666px){
	.making-order{		background-image: url(../images/bg1t.jpg); background-repeat: no-repeat; background-position: left top; padding: 40px 10px 30px;
		.yellow-slashes,
		.goods{ display: none;}
		.right-part { width: 100%; padding-top: 10px;
			.order { padding: 0; justify-content: center; height: 220px;}
		}
		.left-part{ width: 100%; padding-right: 0; padding-left: 100px;padding-top: 121px; justify-content: flex-end;
			.timer-part{ padding-right: 18px;
				.timer{
					.date{ width: 51px; height: 51px;}
				}
				.timer-heading { text-align: right; padding-bottom: 16px;
					h3 { font-size: 20px; text-align: right; width: 200px; display: inline-block; }
				}
			}
			.price-part{flex-wrap: wrap; justify-content: flex-end; padding-right: 20px; padding-bottom: 14px;
				.old-price{ font-size:14px; width: 120px; padding-bottom: 11px;}
			}
		}
	}
	.block1{box-shadow: inset 0 330px 40px 0 rgba(255, 255, 255, 0.7);
		.lower-background-wrapper{background-size: 1920px 1300px;
			
		}
	}
}
@media screen and (max-width: 487px){
	.block1 .lower-background-wrapper {width: 100%; min-height:1355px;; z-index: 2; position: absolute; bottom: 0px; background-position: center; background-size: 1920px 1300px;
		
	}
}
@media screen and (max-width: 320px){

}