.block3{ background-color: #ffce23; background-image: url(../images/b3BG1920.jpg); background-repeat: no-repeat; background-position: center center;
    p{ margin: 0;}
    .title{ text-align: center;
        h2{ margin: 0;}
    }
    .subtext{ background-color: #f5c51f; text-align: center; border-radius: 6px;}
    .content{ width: 100%; text-align: right;}
    .content-wrap{ width: 50%; display: inline-block; text-align: left;}
    .items-wraper{}
    .item{}
    .item-title { width: 100%;
        p { background-color: #fff; border-radius: 0 6px 6px 6px; display: inline-block; }
    }
    .item-txt{}
}
.white-txt{color:#fff;}