<section class="block4">
    <div class="block-wrap mbox">
        <div class="title">
            <h2><span class="black-txt">Компоненты SOS-3D</span> способствуют:</h2>
        </div>
        <div class="content">
            <div class="item">
                <div class="title-item">
                    <p>Удержанию влаги</p>
                </div>
                <div class="txt">
                    <p>низкомолекулярная фракция гиалуроновой кислоты быстро проникает в кожу, способствуя удержанию влаги и накопительному эффекту, проявляя свое действие все больше и больше с каждым применением;</p>
                </div>
            </div>
            <div class="item">
                <div class="title-item">
                    <p>Образованию пленки</p>
                </div>
                <div class="txt">
                    <p>средние и высокомолекулярные фракции гиалуроновой кислоты, оставаясь на поверхности кожи, после испарения жидкой составляющей образуют полимерную дышащую пленку, механически разглаживающую мимические морщины;</p>
                </div>
            </div>
            <div class="item">
                <div class="title-item">
                    <p>Разглаживанию кожи</p>
                </div>
                <div class="txt">
                    <p>пептидный комплекс SYN-AKE, входящий в состав геля, имеет ботокс-эффект и расслабляет мимические мышцы, также способствуя разглаживанию кожи;</p>
                </div>
            </div>
            <div class="item">
                <div class="title-item">
                    <p>Выработке коллагена</p>
                </div>
                <div class="txt">
                    <p>пептидный комплекс SYN-COLL стимулирует выработку собственного кожного коллагена заменяя мезотерапию коллагеновыми инъекциями.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bott-blue">
        <div class="mbox">
            <p>Гель следует наносить очень тонким слоем, нежными движениями на область кожи вокруг глаз, оставлять до полного впитывания и высыхания.</p>
        </div>
    </div>

</section>