<section class="block3">
    <div class="mbox">
        <div class="title">
            <h2>В чем секрет <span class="white-txt">SOS-3D?</span></h2>
        </div>
        <div class="subtext">
            <p>Water, Tripeptide («Syn-Ake»тм), Glycerin, Palmitoyl Tripeptide–5 («Syn-Coll»тм), Acacia senegal gum (Easyliance), Petroselinum crispum (Parsley) Leaf Extract, Sodium Carbomer, Sodium Polyacrylate, Sodium Hyaluronate («Cube3»тм), DMDM hydantoin, PEG–40 Hydrogenated Castor Oil, Parfum.</p>
        </div>
        <div class="content">
            <div class="content-wrap">
                <div class="items-wraper">
                    <div class="item">
                        <div class="item-title">
                            <p>Easyliance</p>
                        </div>
                        <div class="item-txt">
                            <p>оптимизированная смесь двух ингредиентов, обладающих синергическим действием: Смола Акации - смола африканского дерева, и Полисахарид (биополимер, естественно вырабатываемый микроорганизмами, которые развиваются в симбиозе с корнями растения).
                                Полимер создает пленку на поверхности кожи, пленка сокращается при высыхании, происходит натяжение и разглаживание морщин. Быстрый и видимый лифтинговый эффект на коже вокруг глаз при 100% натуральном составе, сертифицированном Ecocert как актив для органической косметики.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <p>Cube 3</p>
                        </div>
                        <div class="item-txt">
                            <p>инновационный продукт, содержащий гиалуронаты натрия с различными молекулярными весами ( от 50 до 3000 кДа). Что это дает? – Три эффекта: - подтягивающее действие (лифтинг) за счет гиалуроната высокого молекулярного веса, работающего на поверхности кожи; - улучшение общего здоровья эпидермиса; - усиленное проникновение в кожу низкомолекулярных фракций, стимулирующих выработку эндогенных омолаживающих компонентов – эластина.</p>
                            <p>Результатом применения актива является увеличение эластичности кожи (13% в течение 30 минут), увлажненности кожи (25% за 2 часа), снижение потери влаги через кожу на 24% за 2 часа, уменьшение глубины морщин и увеличение гладкости кожи от 4,5 до 8% в период от 30 до 120 минут после нанесения. Накопительный омолаживающий эффект.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <p>Syn-Ake</p>
                        </div>
                        <div class="item-txt">
                            <p>оригинальная разработка швейцарских учёных, удостоенная в 2006 году награды Swiss Technology Award (Швейцарская Технологическая Премия). Актив был создан для эффективного разглаживания и борьбы с мимическими морщинами путем расслабления лицевых мышц.</p>
                            <p>Это высокотехнологичный продукт, синтетический аналог пептида змеи. Пептид SYN-AKE имеет эффект, сходный с действием токсинов из яда, расслабляя мимическую мускулатуру, а также разглаживает мелкие мимические морщины и предотвращает их появление. Безопасная замена ботоксу. Имеет также прекрасный эффект выравнивания тона кожи.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <p>SYN-Coll</p>
                        </div>
                        <div class="item-txt">
                            <p>это швейцарский биоактивный, глубоко проникающий в кожу трипептид, активирующий тканевый фактор роста (TGF-beta), который стимулирует синтез коллагена в коже, тем самым, улучшая структуру кожи и уменьшая появление морщин.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>