<section class="block2">
    <div class="block2-wrap mbox">
        <div class="title">
            <h2>Что такое <span class="black-txt">SOS-3D?</span></h2>
        </div>
        <div class="top-content cfix">
            <div class="content-title-block">
                <div class="big">
                    <p>SOS-3D INTENSIVE</p>
                </div>
                <div class="smal">
                    <p>гель-лифтинг против морщин
                        для кожи вокруг глаз</p>
                </div>
            </div>

            <div class="txt-wrapper cfix">
                <div class="txt-wrap">
                    <div class="txtshad"></div>
                    <div class="txt">
                        <p>Основной задачей, которая ставилась при разработке этого косметического продукта – была скорость эффекта разглаживания морщин, так называемый эффект SOS или скорой помощи, когда нужно быстро привести свое лицо к идеально возможному внешнему виду. Это достижимо на сегодняшнем технологическом уровне! В процессе изготовления геля были использованы две группы активов – тактические (быстрого действия) и стратегические (долгосрочного, накопительного действия) и сделана ставка на все большее улучшение внешнего вида особо проблемных зон при каждом использовании, что дает возможность получать эффект мгновенного разглаживания морщин и запустить естественные механизмы восстановления и омоложения – без побочных эффектов, которыми уже прославились на мировом рынке экстремально-быстрые средства.</p>
                    </div>
                </div>
            </div>
            <div class="button-wrap"><a href="#" class="button">Заказать</a></div>
        </div>
        <div class="bot-content">
            <div class="title-bot">
                <p>Результат <span class="black-txt">работы геля</span></p>
                    <p><span class="black-txt">заметен</span> уже после первой минуты!</p>
            </div>
            <div class="img img1920"><img src="images/b2_1920.png" alt=""></div>
            <div class="img img768"><img src="images/b2_768.png" alt=""></div>
            <div class="img img320"><img src="images/b2_320.png" alt=""></div>
        </div>
    </div>
</section>