<section class="block1">
	<div class="lower-background-wrapper">
		
	</div>
	<div class="mbox">
		<div class="part-with-face">
			<div class="text-container">
				<div class="brend-advantages">
					<p>Результат через <span>1,5 минуты!</span></p>
				</div>
				<div class="brand-name">
					<h3>SOS-3D intensive</h3>
				</div>
				<div class="brand-descrition">
					<p>гель-лифтинг против морщин для кожи вокруг глаз</p>
				</div>
			</div>
		</div>
		<div class="part-with-timer">
			<div class="sircle-with-tick-wrapper">
				<div class="sircle-with-tick">
					<div class="tick">
						
					</div>
				</div>
			</div>
			<div class="more-advantages">
				<div class="advantage">
					<div class="tick-image">
						<img src="images/block1-tick.png">
					</div>
					<div class="advantage-text">
						<p>Полностью разглаживает даже глубокие морщины</p>
					</div>
				</div>

				<div class="advantage">
					<div class="tick-image">
						<img src="images/block1-tick.png">
					</div>
					<div class="advantage-text">
						<p>Полностью разглаживает даже глубокие морщины</p>
					</div>
				</div>

				<div class="advantage">
					<div class="tick-image">
						<img src="images/block1-tick.png">
					</div>
					<div class="advantage-text">
						<p>Полностью разглаживает даже глубокие морщины</p>
					</div>
				</div>
			</div>
			<div class="making-order">
				<div class="order-heading">
					<h3>Оформление заказа</h3>
				</div>
				<div class="left-part">
					<div class="price-part">
						<div class="old-price">
							<p><span>1055 грн</span> Старая цена</p>
						</div>
						<div class="new-price">
							<p>Супер цена <span>555 грн.</span></p>
						</div>
					</div>

					<div class="timer-part">
						<div class="timer-heading">
							<h3>До конца акции осталось:</h3>
						</div>
						<div class="timer">
							<div class="day-wrapper date-wrapper">
								<div class="days date">31</div>
								<div class="sign">
									<p>день</p>
								</div>
							</div>
							<div class="hour-wrapper date-wrapper">
								<div class="hour date">31</div>
								<div class="sign">
									<p>часов</p>
								</div>
							</div>
							<div class="spliter">:</div>
							<div class="minutes-wrapper date-wrapper">
								<div class="minutes date">31</div>
								<div class="sign">
									<p>минут</p>
								</div>
							</div>
							<div class="spliter">:</div>
							<div class="seconds-wrapper date-wrapper">
								<div class="seconds date">31</div>
								<div class="sign">
									<p>секунд</p>
								</div>
							</div>
						</div>					
					</div>
				</div>
				<div class="right-part">
					<form class="order">
						<input type="text" name="name" placeholder="Имя">
						<input type="telephone" name="telephone" placeholder="Телефон">
						<button>Оформить заказ</button>
					</form>
				</div>
				<div class="yellow-slashes">
					<img src="images/yellow-slashes.png">
				</div>
				<div class="green-slashes">
					<img src="images/green-slashes.png">
				</div>
				<div class="goods">
					<img src="images/goods.png">
				</div>
			</div>
		</div>
	</div>
</section>