<section class="block5">
    <div class="block-wrap mbox">
        <div class="title">
            <h2>Результаты <span class="black-txt">применения SOS-3D</span></h2>
        </div>
        <div class="content">
            <div class="item">
                <div class="img"><img src="images/b5it01.png" alt=""></div>
                <div class="txt-wrap">
                    <div class="title-item">
                        <p>«Морщины разгладились,
                            как по волшебству!»</p>
                    </div>
                    <div class="autor">
                        <p>Зинаида Михайловна, 52 года, Москва</p>
                    </div>
                    <div class="txt">
                        <p> К 50 годам я успела понять одно - если вы хотите быть счастливыми и молодыми, вы будете искать тысячу способов обмануть законы природы. Так как я люблю эксперименты, мне удалось перепробовать все существующие на рынке средства. Уколы спасают, но не на долго, да еще с их стоимостью! А после того как у подруги перекосило лицо, я навсегда от них отказалась. Начала искать альтернативу, пробовала и сыворотки, и маски, и все эти модные микро-эмульсии - результата 0. Пока я не встретила SOS 3-D Intensive! Теперь я выгляжу на 20 лет моложе! Морщины разгладились как по волшебству!</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/b5it02.png" alt=""></div>
                <div class="txt-wrap">
                    <div class="title-item">
                        <p>«На уколы больше никогда
                            не соглашусь»</p>
                    </div>
                    <div class="autor">
                        <p>Олег Петрович, 48 лет, Москва</p>
                    </div>
                    <div class="txt">
                        <p>Странно будет видеть отзыв мужчины на сайте, но мы же тоже хотим продлить свою молодость и быть вечно красивыми. Так что для всех пишу, что SOS 3-D Intensive действительно творит чудеса! До этого я всегда колол ботокс, но к 45 лицо стало мертвым, максимум мог улыбнуться, но выглядело это ужасно. На мое резкое “Нет уколам” врач посоветовал новейшую разработку косметологов, тогда препарат только проходил проверки. Ну я решил попробовать, терять то нечего было) И не прогадал! Теперь даже молоденькие девчонки не дают мне больше 35!</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="images/b5it03.png" alt=""></div>
                <div class="txt-wrap">
                    <div class="title-item">
                        <p>«Кожа подтянулась
                            и освежилась»</p>
                    </div>
                    <div class="autor">
                        <p>Мария Ивановна, 55 лет, Москва</p>
                    </div>
                    <div class="txt">
                        <p>Я никогда не выглядела старо или не ухоженно. Всегда старалась следить за кожей лица, но когда мне исполнилось 47 лет, я начала замечать морщины. А они как на зло стали появляться с сумасшедшей скоростью… Все лицо было в мимических морщинах уже через 3 года. Выглядела лет на 65-70. Но моя подруга посоветовала мне SOS 3-D Intensive, с которым уже через неделю я выглядела на 10 лет моложе) Зато как я хорошо выгляжу сейчас, ну вы сами можете видеть! От былой старушки не осталось и следа!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>